.App {
  text-align: center;
}

html, body, #root {
  height: 100vh;
}

#root {
  background-image: url('./images/pexels-felix-mittermeier-956999.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login_container {
  width: 40% !important;
  background-color: rgba(255, 255, 255, 0.278);
  padding: 5vw 2vw;
  border-radius: 10px;
}

#login_button {
  background-color: #4CAF50;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

#login_button:hover {
  background-color: #3e8e41;
}

#home_container {
  background-color: rgba(255, 255, 255, 0.278);
  padding: 5vw 2vw;
  border-radius: 10px;
}

#add_user_form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  
}